.header{
    background-color: #558FC7;
}

.header_title{
    line-height: 115px;
    color: white;
}

#out_div{
    margin-top:20px; 
}

.img_out{
    background-color: rgba(85, 144, 199, 0.199);
    padding-top: 20px;
    padding-bottom: 20px;
}